@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "styles/common";

.caseCardContainer .caseStudyCard {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.586) 0px 3px 8px;
  overflow: hidden;
  transform-origin: bottom;
  cursor: pointer;

  .img {
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    @extend .flexCol;
    padding: 1rem 1rem 10px 1rem;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-top-left-radius: 7rem;
    transition: all 0.3s;
    overflow: hidden;

    .title {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1.2rem;
    }

    .desc {
      @extend .flexCenter;
      height: 0;
      padding: 0 10px;
      @extend .description;
      overflow: hidden;
    }

    .btnContainer {
      width: 100%;
      @extend .justifyCen;
    }
  }

  .showFullContent {
    height: 100%;

    .title {
      margin-bottom: 1rem;
    }

    .desc {
      height: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .caseCardContainer .caseStudyCard {
    width: 100%;
  }
}
