@import "@/styles/common";

.home {
  position: relative;

  .skills {
    width: 100%;
    height: 100%;

    .heading {
      margin-top: 6%;
      padding: 10px 12%;
      font-size: 2rem;
    }

    .container {
      @extend .justifyEvenly;
      flex-wrap: wrap;
      gap: 4rem 0;
      margin: 5rem auto;
    }

    .btnContainer {
      @extend .justifyCen;
      width: 100%;
    }
  }

  .reviewContainer {
    padding: 3rem 5rem;

    .text {
      @extend .flexColCen;
      padding: 1rem 4rem;
      margin-bottom: 3rem;

      .heading {
        margin: 1rem 0 3rem 0;
        text-align: center;
        font-size: 2rem;
      }

      .desc {
        width: 500px;
        color: rgba(51, 51, 51, 0.596);
        font-size: 1.3rem;
      }
    }
    .reviews {
      @extend .flexColCen;
      flex-wrap: wrap;
      gap: 5rem 8.5rem;
      height: 80vh;
      padding: 3.5rem 3rem 0 4rem;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .caseStudy {
    height: 100%;
    padding: 1rem 1rem;
    @extend .flexCol;
    gap: 5rem;
    justify-content: space-between;

    .title {
      width: 100%;
      margin: 0 auto 3rem auto;
    }

    .container {
      @extend .flexCenter;
      flex-wrap: wrap;
      gap: 7rem 5rem;
    }

    .btnContainer {
      @extend .justifyCen;
      width: 100%;
      margin: 1rem 0 2rem 0;
    }
  }

  .how_we_work {
    height: 100%;
    padding: 1rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;

    .title {
      width: 100%;
    }

    .desc {
      width: 100%;
      max-width: 800px;
      font-size: 1.3rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }

    .cardContainer {
      width: 105%;
      margin-top: 1rem;
      @extend .justifyEvenly;
      flex-wrap: wrap;
      gap: 3rem 3rem;
    }

    .description {
      width: 100%;
      @extend .justifyAround;
      margin-bottom: 4rem;

      .descr {
        display: flex;
        gap: 10px;

        .primary,
        .secondary {
          font-size: 1.7rem;
          color: dodgerblue;
        }

        .secondary {
          color: rgb(0, 0, 0, 0.6);
        }
      }
    }
  }
}

.career {
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;

  .container {
    @extend .flexCenter;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 5rem;

    .desc {
      text-align: center;
      width: 40%;
      font-size: 1.3rem;
      color: rgb(0, 0, 0, 0.6);
      transition: all 0.3s;
    }

    .img {
      width: 550px;
      height: auto;
    }
  }

  .btnContainer {
    width: 100%;
    @extend .flexCenter;
  }
}

@keyframes show-arrow {
  0% {
    margin: 0;
  }

  40% {
    margin-left: 6px;
  }

  41% {
    margin: 0px;
  }
}

@media screen and (max-width: 1150px) {
  .home {
    .main,
    .content {
      width: 100%;
      transition: all 0.3s;
    }

    .main {
      font-size: 3;
    }
  }
}

@media screen and (max-width: 900px) {
  .home .career .container .desc {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .home {
    .intro {
      height: 110vh;

      .info {
        height: 110vh;

        .main,
        .content {
          width: 75%;
        }
      }
    }

    .how_we_work {
      padding: 1rem 2rem;

      .description {
        .descr {
          gap: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .home {
    .intro {
      height: 120vh;

      .info {
        height: 120vh;
      }
    }

    .reviewContainer {
      padding: 3rem 2rem;
    }

    .career .container .desc {
      width: 95%;
    }

    .how_we_work {
      padding: 1rem 10px;
    }
  }
}

@media screen and (max-width: 525px) {
  .home .reviewContainer {
    padding: 3rem 10px;

    .text {
      padding: 1rem 10px;

      .desc {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    .intro .info {
      .main {
        font-size: 3.5rem;
      }
    }

    .how_we_work {
      padding: 1rem 3rem;

      .description {
        gap: 10px;
      }
    }

    .career .container {
      padding: 0;
    }

    .caseStudy {
      padding: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .home .how_we_work .description {
    align-items: center;
    flex-direction: column;
  }
}
