@import "styles/common";

.skillsSection {
  padding: 5rem 0 3rem 0;
  width: 100%;
  height: 100%;

  .heading {
    padding: 10px 12%;
    font-size: 2rem;
  }

  .container {
    @extend .justifyEvenly;
    flex-wrap: wrap;
    gap: 4rem 0;
    margin: 5rem auto;
  }

  .btnContainer {
    @extend .justifyCen;
    width: 100%;
  }
}
