@import "styles/common";

.caseStudySection {
  @extend .flexColCen;
  gap: 7rem 5rem;
  padding: 3rem 1rem 4rem 1rem;

  .text {
    @extend .flexColCen;
    gap: 2rem;

    .desc {
      @extend .description;
    }
  }

  .cardContainer {
    @extend .flexCenter;
    flex-wrap: wrap;
    gap: 7rem 5rem;
  }

  .btnContainer {
    @extend .justifyCen;
    width: 100%;
    margin: 1rem 0 2rem;
  }
}

@media screen and (max-width: 500px) {
  .caseStudySection {
    padding: 1rem 10px;
  }
}
