@import "styles/common";

.container {
  .card {
    position: relative;
    width: 400px;
    min-width: 275px;
    background: #fff;

    .imgContainer,
    .blogImg {
      width: 100%;
      height: 350px;
    }

    .imgContainer .blogImg {
      transition: all 0.35s ease-in-out;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
    }

    .blogInfo {
      position: relative;
      padding: 0.75rem 1.25rem;
      transition: all 0.2s ease-in-out;

      .blogAbout {
        @extend .alignCen;
        justify-content: space-between;
        padding: 0.75rem 0;
        transition: all 0.2s ease-in-out;

        .tag {
          padding: 0.5rem 0.7rem;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: #505f79;
          color: #fff;
          background: #36b37e;
        }

        .date {
          color: rgba(0, 0, 0, 0.6);
        }
      }

      .blogTitle {
        z-index: 10;
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        transition: all 0.35s ease-in-out;
      }

      .blogAuthor {
        padding-bottom: 0.75rem;
        transition: all 0.25s ease-in-out;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .iconContainer {
      @extend .flexCenter;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
    }

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      transform: scale(1.025);

      .blogImg {
        height: 100%;
      }

      .blogAbout,
      .blogAuthor {
        opacity: 0;
      }

      .blogInfo {
        background-color: transparent;
      }

      .blogTitle {
        color: #ebecf0;
        transform: translate(0, 40px);
      }

      .iconContainer {
        opacity: 1;

        .icon {
          transition: all 0.3s;
          animation: move-arrow 1s infinite;
        }
      }
    }
  }

  .big {
    width: 650px;

    .imgContainer,
    .blogImg {
      height: 550px;
    }
  }
}

@keyframes move-arrow {
  0% {
    padding-right: 3rem;
    opacity: 0;
  }

  100% {
    padding-left: 3rem;
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .blogPage .big {
    width: 550px;
  }
}
