@import "styles/common";

.awardSection {
  @extend .flexColCen;
  gap: 7rem;
  background: #f4f4f4;
  padding: 7rem 5rem;

  .heading {
    font-size: 3rem;
  }

  .awardContainer {
    @extend .alignCen;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7rem 5rem;
  }
}

@media screen and (max-width: 810px) {
  .awardSection {
    padding: 7rem 1rem;

    .awardContainer {
      gap: 7rem 1rem;
    }
  }
}
