@import "styles/common";

.casestudyPage {
  @extend .flexColCen;

  .container {
    @extend .flexCenter;
    flex-wrap: wrap;
    gap: 7rem 5rem;
    padding: 7rem;
  }
}

@media screen and (max-width: 1100px) {
  .casestudyPage .container {
    gap: 7rem 3rem;
    padding: 7rem 10px;
  }
}
