@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "styles/common";

.careersPage {
  .weAreHiring {
    .info {
      @extend .flexColCen;
      padding: 5rem 4rem;
      gap: 3rem;

      .desc {
        width: 50%;
        color: rgba(0, 0, 0, 0.7);
        font-family: "Itim", cursive;
        font-size: 1.3rem;
      }
    }

    .jobSection {
      padding: 2rem 0;
      @extend .flexColCen;
      gap: 10rem;

      .jobCards {
        height: 100vh;
        padding: 3rem;
        width: 100%;
        gap: 5rem;
        @extend .flexCenter;
        flex-wrap: wrap;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .careersPage {
    .weAreHiring {
      .jobSection {
        .jobCards {
          padding: 5rem 1rem;
          gap: 5rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .careersPage {
    .weAreHiring {
      .info {
        .title {
          text-align: center;
          width: 100%;
        }
        .desc {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .careersPage {
    .weAreHiring {
      .info {
        .desc {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .careersPage {
    .weAreHiring {
      width: 100vw;
    }
  }
}

@media screen and (max-width: 475px) {
  .careersPage {
    .weAreHiring {
      .info {
        padding: 4rem 1rem;
      }
    }
  }
}
