@import "styles/common";

.newBlogSec {
  @extend .flexColCen;
  gap: 7rem;
  width: 100%;
  padding: 6rem 1rem 5rem;

  .text {
    @extend .flexColCen;
    gap: 1.5rem;
    max-width: 800px;

    .heading {
      text-align: center;
      font-size: 2.5rem;
    }

    .desc {
      @extend .description;
    }
  }

  .firstRow {
    @extend .alignCen;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem 10px;
    width: 100%;
  }

  .secondRow {
    width: 100%;
    @extend .flexCenter;
    flex-wrap: wrap;
    gap: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .newBlogSec .secondRow {
    gap: 5rem 2rem;
  }
}
