.justifyBtw {
  display: flex;
  justify-content: space-between;
}

.alignCen {
  display: flex;
  align-items: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alignStart {
  display: flex;
  align-items: flex-start;
}

.justifyEvenly {
  display: flex;
  justify-content: space-evenly;
}

.justifyCen {
  display: flex;
  justify-content: center;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
}

.divider {
  width: 85%;
  height: 3px;
  margin: 2rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}
