@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "styles/common";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: "Itim", cursive; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);

  /* For Temporary Use */
  /* height: 100vh; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

body::-webkit-scrollbar {
  display: none;
}

body::selection {
  background: #3333;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
